.authors{
    font-family: sans-serif;
    /* height: 52vh; */
    padding: 5.5rem 2rem 2rem 2rem;
    /* padding-left: 1.4rem; */
    text-align: center;
   
}
.authors >p{
    text-align: justify;
    width: 80%;
    margin:.5rem auto;
    padding:0rem;
    text-align: center;
}
.head{
    font-size:larger;
    color:black;
}
.active{
    border-bottom:2px solid white;

}
.authors>h1{
    text-transform: uppercase;
}
#none{
    list-style:none;
}
.temp{
    color:#651111;
    font-size:16px;
    text-decoration: underline;
    font-weight: 600;
}
.ins{
    display:flex;
    flex-direction: column;
    justify-content:center;
    flex-wrap:wrap;
    /* height: 52vh; */
    width:80%;
    margin:0 auto 1.5rem auto;
    padding: 1rem 0rem 2rem 0rem;
    /* margin:0 8rem 0 8rem; */
    font-size:16px;
    /* list-style:; */
    color:#777;
    text-align: justify;
    list-style: none;
    /* padding-left: 1.4rem; */
}
h2{
    display:none;
}
@media(max-width:777px){
    h2 {
        display:block;
        background-color: #0a0428ef;
        width: 40vw;
        color: white;
        padding: 0.5rem;
        /* padding-left:3rem; */
        margin: auto;
        border-radius: 0.4rem;
    }
}
