* {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.comm {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: sans-serif;
    padding-top: 8rem;
    text-align: center;
    justify-content: center;
}

.comm h2 {
    background-color: #0a0428ef;
    width: 40vw;
    color: white;
    padding: 0.5rem;
    /*padding-left:3rem; */
    margin: auto;
    border-radius: 0.4rem;
}


.committee-tile p:hover {
    border: none;
    background: rgba(107, 17, 17);
    color: white;
    margin: auto;
    border-radius: 0.4rem;
}

.committee-tile p:hover:not(.commflex p, .patron p) {
    width: 28vw;
}

.comm h1 {
    font-size: 2.4rem;
}

.comm h2 {
    margin-top: 7rem;
}

.comm p {
    padding: 1rem 2rem 1rem 2rem;

}

.commflex p {
    width: 23rem;
}

.comm .last {
    margin-bottom: 5rem;
}

.comm h2:hover {
    background-color: none;
}

.commflex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}


.otherflex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
}

.patron {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    column-gap: 3rem;
    padding-top: 2rem;
}

.patron h2,
.otherflex h2 {
    margin-top: 3rem;
}

.yes{
    height: 17rem;
    width: 20rem;
    margin: auto;
    margin-top: 2rem;
    clip-path: circle();
}

.tile p {
    font-size: 1.3rem;
}

.tile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.complete {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

@media(max-width:500px) {
    .comm h2 {
        width: 80vw;
    }

    .tile p{
        width:100vw;
        font-size: 1.2rem;
    }

    img {
        height: 12rem;
        width: 15rem;
    }
}