* {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

.comm {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: sans-serif;
    padding-top: 8rem;
    text-align: center;
    justify-content: center;
    margin-bottom:2rem;
}

.comm h2 {
    background-color: #0a0428ef;
    width: 40vw;
    color: white;
    padding: 0.5rem;
    /*padding-left:3rem; */
    margin: auto;
    border-radius: 0.4rem;
}

.committee-tile p:hover {
    border: none;
    background: rgba(107, 17, 17);
    color: white;
    margin: auto;
    border-radius: 0.4rem;
}
.tpc{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.committee-tile p:hover:not(.commflex p, .patron p, .general-chairs p, .publicity-chairs p,.advisory p,.tpc p) {
    width: 28vw;
}

/* .tpc p:last-child:hover {
    margin-bottom: 3rem;
} */
/* .comm .last {
    margin-bottom: 5rem;
} */
.advisory p,
.tpc p {
    width:40vw;
}

.tpc p :hover{
    width:40vw;
}

.comm h1 {
    font-size: 2.4rem;
}

.comm h2 {
    margin-top: 7rem;
}

.comm p {
    padding: 1rem 2rem 1rem 2rem;
}

.commflex p,
.publicity-chairs p {
    width: 23rem;
}



.comm h2:hover {
    background-color: none;
}

.commflex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-left:1rem;
    padding-right:1rem;
    
}
.organizing-secretary,.general-co-chairs{
padding:0rem;
}
.general-chairs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media(min-width:1400px) {

    .general-chairs,
    .publicity-chairs {
        padding: 0rem 10rem;
    }
}

@media(min-width:1400px) {

    .publicity-chairs,
    .publicity-chairs:hover {
        padding: 0rem 5rem;
    }
}

.publicity-chairs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.otherflex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom:6rem;
    /* padding: 2rem; */
}

.patron {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    column-gap: 3rem;
    padding-top: 2rem;
    margin-bottom: 12rem;
}

.patron h2,
.otherflex h2 {
    margin-top: 3rem;
}

.yes {
    height: 15rem;
    width: 15rem;
    margin: auto;
    margin-top: 2rem;
    clip-path: circle();
}

.tile p {
    font-size: 1.1rem;
}

.tile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.complete {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

@media(max-width:500px) {
    .comm h2 {
        width: 80vw;
    }

    .tile p {
        width: 100vw;
        font-size: 1.2rem;
    }

    img {
        height: 12rem;
        width: 15rem;
    }
}